[submodule "ethereum-plugin-sdk"]
	path = ethereum-plugin-sdk
	url = https://github.com/LedgerHQ/ethereum-plugin-sdk.git
[submodule "tests/angle-sdk"]
	path = tests/angle-sdk
	url = git@github.com:AngleProtocol/angle-sdk.git
